n8n_workflow_4_chat.json
{
  "name": "KM Tourism — WF4: Charlotte Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "charlotte-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-chat",
      "name": "Webhook — Chat Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "km-charlotte-chat"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst messages = body.messages || [{ role: 'user', content: body.message }];\nreturn [{ json: { assistantId: 'f8a1a26e-e90e-42ef-b86b-a7ca78df8640', input: messages } }];"
      },
      "id": "code-build-request",
      "name": "Code — Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dc2cf577-5cff-4424-a588-5d8c2aaf832a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "vapi-chat",
      "name": "Vapi — Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst reply = data.output?.[0]?.content || 'I apologize, I could not process your message.';\nconst chatId = data.id || null;\nreturn [{ json: { reply, chatId } }];"
      },
      "id": "code-extract-reply",
      "name": "Code — Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.reply, chatId: $json.chatId }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-chat",
      "name": "Respond — Chat Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook — Chat Message": {
      "main": [
        [
          {
            "node": "Code — Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Build Request": {
      "main": [
        [
          {
            "node": "Vapi — Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi — Chat": {
      "main": [
        [
          {
            "node": "Code — Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Extract Reply": {
      "main": [
        [
          {
            "node": "Respond — Chat Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": ["KM Tourism", "Charlotte", "Chat"]
}
